* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(10, 25, 47);
    font-family: 'Poppins', sans-serif;
    z-index: -1;
}

.section_button {
    position: fixed;
    height: 100%;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 10;
}

.fa {
    align-items: center;
    display: flex;
    font-size: 40px;
}

.li_section_button {
    padding: 10px 0;
    background: darkcyan;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-content: center;

}


.a_section_button {


    height: 60px;
    margin-left: -92px;
    padding: 0 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.a_section_button:hover {
    margin: 0;
}

.a_section_button::after {
    display: none;
}

ul li a {
    display: inline-block;
    position: relative;
    font-size: large;
    color: black;
}

ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ff014f;
    bottom: -5px;
    left: 0;
    transition: .3s;
}

ul li a:hover::after {
    width: 100%;
}

.contener {
    max-width: 1224px;
    padding: 0 30px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;

}

.nav-bar ul li {
    padding: 20px 20px;
    font-size: 20px;

}

.nav-bar .ham {
    display: none;
}

.nav-bar ul li a {
    text-decoration: none;
    color: rgb(91, 104, 130);
    transition: .3s;
}

.nav-bar ul li a:hover {
    color: #ff014f;
}

.nav-bar .imag {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-bar .imag .imag-title {
    color: #ff014f;
}

.imag img {
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

@media (max-width:991px) {
    .nav-bar .ham {
        display: block;
        color: #fff;
        display: flex;
        align-items: center;
    }

    .nav-bar ul {
        display: none;
    }
}

.Home {
    color: rgb(91, 104, 130);

}

.Home .contener {
    display: flex;
    align-items: center;
}

.Home button {
    padding: 15px 65px;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    border: 2px solid;
    transition: .4s;

}

.Home button a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.Home button:hover {
    background-color: #cb0e5a;

}

.Home .contener .none {
    margin: 300px;
}

.Home .contener h4 {
    font-size: 22px;
    color: #ff014f;
}

.Home .contener h1 {
    color: #fff;
    font-size: 55px;
    padding: 10px 0;
}

.Home .contener p {
    padding-bottom: 20px;
}

@media (max-width:991px) {
    .Home .contener {
        margin-top: 40px;
    }

    .Home .contener .none {
        display: none;
    }

    .Home .contener .content {
        text-align: center;
    }
}

.About {
    display: flex;
    color: rgb(91, 104, 130);
    flex-direction: column;
    align-items: center;
    gap: 3re;
    gap: 2rem;

}


.About h1 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    line-height: 55px;
    border-bottom: 4px solid #ff014f;
    display: inline-block;
    justify-content: center;



}

.About .contener .content .title {
    width: 65%;
    flex: 1;
}

.About .contener .content h2 {

    margin: 0 auto;
    color: #fff;
    font-size: 30px;
    order: 2;
}

.About .contener .content p {

    margin: 0 auto;
    order: 1;
}

.About .contener .content {
    display: flex;
    align-items: center;
    gap: 25px;

}

.About .contener .content .image {
    flex: 1;
}

.About .contener .content .image img {
    width: 300px;
    border-radius: 25px;

}


@media (max-width:1024px) {
    .About h1 {
        padding-top: 220px;
    }

    .About .contener .content {
        flex-direction: column;
    }

    .About .contener .content h2 {
        width: 100%;
        text-align: center;
        order: 1;

    }

    .About .contener .content p {
        width: 100%;
        text-align: center;
        order: 2;
    }

    .Skills .contener h1 {
        color: #fff;
        border-bottom: 4px solid #ff014f;
        display: inline-block;
        font-size: 50px;
        padding-top: 200px;

    }
}

.Skills .contener h1 {
    font-size: 50px;
    color: #fff;
    border-bottom: 4px solid #ff014f;
    display: inline-block;
    padding-top: 200px;

}

.Skills .contener p {
    color: rgb(91, 104, 130);
    margin-top: 20px;
}

.Skills .boxes .box h2 {
    color: #fff;
    justify-content: center;
    display: flex;
}



.Skills .contener .boxes .box img {
    width: 80px;
}

.Skills .contener .boxes .box {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    padding: 20px 80px;
    transition: scale 300ms;
    margin-top: 40px;
}

.Skills .contener .boxes .box:hover {
    scale: 1.1;
}

.Skills .contener .boxes .box-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: 33px;
    text-align: center;
}

.work .contener h1 {
    font-size: 50px;
    color: #fff;
    border-bottom: 4px solid #ff014f;
    display: inline-block;
    padding-top: 200px;
}

.work .contener p {
    color: rgb(91, 104, 130);
    padding: 10px;
}

.work .contener .image {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: flex;
    padding: 38px 10px;
    width: 400px;
    height: auto;
}

.work .contener .image img {
    margin: 0 auto;
    width: 100%;
    z-index: -1;
}

.work .contener .box_images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    text-align: center;
    gap: 25px;
    margin-top: 30px;
    display: inline-block;

}

.work .contener .image .btns {
    position: absolute;
    background-color: #ff014f;
    background-color: rgba(10, 40, 120, .8);
    z-index: 1;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.work .contener .image .btns span {
    margin: 0 20px;
    padding: 10px 25px;
    cursor: pointer;
    color: black;
    border-radius: 4px;
    background-color: #fff;
    font-size: 18px;
    z-index: 2;
}

.work .contener .image:hover .btns {
    top: 0;
}

.certificate .contener h1 {
    font-size: 50px;
    color: #fff;
    border-bottom: 4px solid #ff014f;
    display: inline-block;
    padding-top: 200px;
}

.certificate .contener p {
    color: rgb(91, 104, 130);
    padding: 10px;
}

.certificate .contener .image {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: 20px;
    text-align: center;
    overflow: hidden;
    border: 2px solid black;
    position: relative;
    display: flex;
    padding: 38px 10px;
}

.certificate .contener .image img {
    margin: 0 auto;
}

.certificate .contener .box_images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    text-align: center;
    gap: 25px;
    margin-top: 30px;
    display: inline-block;
}

.certificate .contener .image .btns {
    position: absolute;
    background-color: #ff014f;
    background-color: rgba(10, 40, 120, .8);
    z-index: 1;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.certificate .contener .image .btns span {
    margin: 0 20px;
    padding: 10px 25px;
    cursor: pointer;
    color: black;
    border-radius: 4px;
    background-color: #fff;
    font-size: 18px;
    z-index: 2;
}

.certificate .contener .image:hover .btns {
    top: 0;
}

.Contact_Us {
    margin-bottom: 80px;
}

.Contact_Us .contener h1 {
    font-size: 50px;
    color: #fff;
    border-bottom: 4px solid #ff014f;
    display: inline-block;
    padding-top: 200px;
}

.Contact_Us .contener form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 30px 0px;
}

.Contact_Us .contener form input {
    background: rgb(0, 0, 27);
    border: none;
    padding: 10px 0;
    border-radius: 10px;
    padding-left: 25px;
    color: #fff;
    font-size: 20px;
}

.Contact_Us .contener form textarea {
    height: 330px;
    background: rgb(0, 0, 27);
    border: none;
    padding: 10px 0;
    border-radius: 10px;
    padding-left: 25px;
    color: #fff;
    font-size: 20px;
    resize: none;
}

.Contact_Us .contener .content button {
    padding: 15px 65px;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    border: 2px solid;
    transition: .4s;
}

.Contact_Us .contener .content button a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.Contact_Us .contener .content button:hover {
    background-color: #ff014f;
}